
Twitter Clone - Part - 1
--------------------------

1. Design a schema (compatible with any RDBMS) for a twitter clone
2. Build the backend for the above using the below end point requirements:

Method Endpoint Description
POST /account Signup using a simple username & password
PUT /account Update info like region, email etc
POST /auth Get authentication token
POST /{user_id}/follow Follow the user, identified by a user_id
GET /{user_id}/following List the users who the user is following
GET /{user_id}/followers List the users who is the following the user
POST /tweet Create a tweet for the authenticated user
GET /{user_id} Paginated timeline of a user, identified by a user_id
DELETE /tweet/{tweet_id} Delete the tweet, identified by a tweet_id
GET /tweet/{tweet_id} Show the tweet & its replies, if any
PUT /tweet/{tweet_id}/reply Reply to a tweet, identified by a tweet_id
PUT /tweet/{tweet_id}/retweet Retweet a tweet, identified by a tweet_id
PUT /tweet/{tweet_id}/like Like a tweet, identified by a tweet_id
GET /search Search for tweets with hashtag & region as query params

3. Write test cases (both unit and API) for the above
4. Use Swagger to document the API
5. Containerize the application

Good to have:
Notifications
Recommendations
Logs (time taken, memory consumption etc)

- Login verificatin before calling other APIss